* {
    margin: 0;
    padding: 0;
}

.container {
    background-color: aqua;
}

/* .image-window {
    
} */

.btn-bar {
    display: flex;
}

button {
    width: 10px;
    height: 10px;
    border: 1px solid grey;
    border-radius: 100%;
}

#fwd-btn, #back-btn {
    border-radius: 10px;
    width:auto;
    height: auto;
    padding: 5px;
}